.contact-form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  min-width: fit-content;
  height: fit-content;
  align-items: center;
  color: #2E4E8C;
  border: 3px solid #2E4E8C;
  border-radius: 10px;
}

.center-vert{
  height: 65vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.full-w {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.submit {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  border-radius: 5px;
  height: 30px;
  width: 10em;
  background:  #F2C185;
  margin: 20px;
  color: #3a3a3a;
  transition: all 0.2s ease-in-out;
}

.submit:hover {
  cursor: pointer;
  background: radial-gradient(circle at center, white, #8292ff 150%);
  transform: scale(1.05);
}

label, .labelt{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 17px;
}

input{
    border-radius: 5px;
    height: 35px;
    width: 80%;
    background: #fff2e1;
    font-family: "Cormorant";
    font-weight: 800;
    padding: 0 5px;
    border: #2E4E8C 2.5px solid;
}

#message{
  height: 60px;
}

@media (min-width: 768px){
  .contact-form{
    width: 50vw;
  }
}

@media (min-width: 1024px){
.contact-form{
  width: 300px;
}

#message{
  height: 100px;
}
}