footer {
  border: 3px solid rgb(0, 0, 0);
  grid-row: 3 / 4;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center,#926F34 -150%, #FFD700);
  color: #000000;
  font-family: 'cormorant';
  font-size: 19px;
  font-weight: 900;
  padding: 20px 0;
}



@media (min-width: 768px) {
  footer {
    letter-spacing: 0.5em;
  }
}
