.navbar {
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  border: 2px solid #3A3A3A;
  background-color: #2A2E6E;
}

a {
  background: #6A4FBF;
  text-decoration: none;
  color: #F7F7FA;
  border-radius: 5px;
  border: 2px solid black;
  padding: 8px 12px;
  font-size: 15px;
  font-weight: 900;
  font-family: 'Cormorant';
  transition: 0.2s ease-in-out;
}

a:hover {
  background-color: #6ECFF6;
  color: white;
  border: #F7F7FA solid 2px;
}

#CTA {
  background-color: #F27BB5;
  color: #3A3A3A;
}

#CTA:hover {
  color: white;
  border: rgb(255, 255, 255) 2px solid;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.Logo {
  grid-column: 1/2;
  display: none;
  justify-content: start;
  align-items: center;
}

.logoimg {
  background: transparent;
  text-decoration: none;
  width: auto;
  border: none;
  height: 20%;
}

.logoimg .logo {
  width: 100px;
  height: auto;
}

.logoimg:hover {
  background-color: transparent;
  border: none;
}

@media (min-width: 768px) {
  .navbar {
    display: grid;
    grid-template-columns: 2fr 6fr;
  }
  .Logo {
    display: flex;
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;
    grid-column: 2 / 3;
  }

  a {
    padding: 13px 25px;
  }
  a:hover{
    transform: scale(1.05);
  }
}

@media (min-width: 1024px) {
  .buttons {
    justify-content: space-around;
  }

  .logoimg .logo {
    margin: 0 50px;
  }
}
