@font-face {
  font-family: "Magic_School";
  src: url(../Fonts/MagicSchoolOne.ttf);
}

@font-face {
  font-family: "Cormorant";
  src: url(../Fonts/Cormorant-Regular.ttf);
}

.Home-Page,
.About-Page,
.Services-Page,
.Contact-Page {
  text-transform: capitalize;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.Services-Page .Header{
display: flex;
flex-direction: column;
}

.Header, .SHeader {
  width: 100vw;
  min-height: 50px;
  max-height: 100px;
  background: radial-gradient(circle at center, #f7f7fa -150%, gold);
  border: 3px solid #000000;
  color: #000000;
  font-family: "Cormorant";
  letter-spacing: 2px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SHeader{
  color: gold;
  background: radial-gradient(circle at center, #f7f7fa -150%, #000000);
}

@media (min-width: 1024px) {
  .Header {
    font-size: 15px;
  }
}
